@model IEnumerable<Product>

@{
    ViewData["Title"] = "Наш ассортимент";
}

@section Presentation
{
    <div id="presentation">
        <p>Кофейня CoffeLike</p>
    </div>
}

<main class="">
    <div class="bg_blue">
        <div class="col-xl-10 white_wrapper">
            @{
                var products = Model.GroupBy(p => p.ProductType);
            }
            
            @foreach (var productType in products)
            {
                <h2 class="p-3">@productType.Key.ToString()</h2>
                
                <div class="card-deck">
                    
                    @foreach (var product in productType)
                    {
                        <div class="card">
                            <img src="@product.FotoSrc" class="card-img-top" alt="Фотография напитка">
                            <div class="card-body drinkCard">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">@product.Description</p>
                                <p class="card-text drinkPrice">@product.Price.ToString("C2")</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">@product.Provider</small>
                            </div>
                        </div>   
                    }
                    
                </div>
            }
        </div>
    </div>
</main>
