@model IEnumerable<Product>

@{
    ViewData["Title"] = "Catalog";
}

@section Presentation
{
    <div id="presentation">
        <p>Кофейня CoffeLike</p>
    </div>
}

<div class="container-fluid">
    <div class="bg_blue">
        <div class="col-sm-12 col-xl-11 white_wrapper">
            <h1>Каталог товаров</h1>
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            
            @{
                var products = Model.GroupBy(p => p.ProductType);
            }
            @foreach (var productType in products)
            {
                <h2>@productType.Key.ToString()</h2>
                
                <table>
                    <tr class="table_header">
                        <td>Позиция</td>
                        <td>Цена</td>
                        <td>Описание</td>
                        <td>Поставщик</td>
                        <td>Операции</td>
                    </tr>
                    
                    @foreach (var product in productType)
                    {
                        <tr>
                            <td>
                                @product.Name
                            </td>
                            <td>
                                @product.Price.ToString("C2")
                            </td>
                            <td>
                                @product.Description
                            </td>
                            <td>
                                @product.Provider
                            </td>
                            <td>
                                <form asp-controller="Product" asp-action="Delete" method="post">
                                <a class="btn btn-warning btn-sm" asp-controller="Product" asp-action="Edit" asp-route-Id="@product.Id.ToString()" >Edit</a>
                                    <input type="hidden" name="Id" value="@product.Id.ToString()" />
                                    <button type="submit" class="btn btn-danger btn-sm" asp-controller="Product" asp-action="Delete">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            }
            <div class="text-center m-3">
                <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Add product</a>
            </div>
        </div>
    </div>
</div>

